<!DOCTYPE html>
<html>
<head>
    <title>Read</title>
    <link rel="stylesheet" href="../static/css/read.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">Read</div>
        <ul class="navbar-links">
            <li><a href="{{ url_for('admin_page') }}">Dashboard</a></li>
            <li><a href="{{ url_for('create_page') }}">Create</a></li>
            <li><a href="{{ url_for('update_page') }}">Update</a></li>
            <li><a href="{{ url_for('delete_page') }}">Delete</a></li>
            <li class="selectedTab"><a href="{{ url_for('read_page') }}">Read</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    <script src="../static/js/read.js"></script>
</body>
</html>